<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>게시글 상세 페이지</title>
    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{./css/post.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="/header.html"></header>
<div class="my-3 p-3 bg-white rounded shadow-sm" id="main">
    <h1 class="title">[[${post.title}]]</h1>
    <h3 class="name">[[${post.name}]]</h3>
    <h3 class="regDate">작성일[[${post.regDate}]]
        <th:block th:if="${post.regDate} != ${post.modDate}"/>
        수정일 [[${post.modDate}]]
        조회수 [[${post.views}]]
        <input type="button" class="btn btn-sm btn-primary" id="edit" value="수정"/>
        <input type="button" class="btn btn-sm btn-primary" id="delete" value="삭제"/>
        <input type="button" class="btn btn-sm btn-primary" id="board" value="목록"/>
    </h3>

    <h3 class="postContent"><img id="img" src="" width="300" height="300">[[${post.content}]]</h3>



    <div class="agora">
        <!-- Reply Form {s} -->
        <div class="my-3 p-3 bg-white rounded shadow-sm" style="padding-top: 10px">
            <form name="form" id="form" role="form" modelAttribute="replyVO" method="post">
                <div class="row">
                    <div class="col-sm-10">
                            <textarea path="content" id="newCommentContent" class="form-control" rows="3"
                                      placeholder="댓글을 입력해 주세요"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" id="newCommentNameNm" th:value="${name}"></input>
                        <th:block th:if="${session.userId} == 2">
                            <input class="form-control" type="password" id="newCommentPassword"
                                   placeholder="PW를 입력하세요."/>
                        </th:block>
                        <button type="button" class="btn btn-sm btn-primary" id="newCommentButton"
                                style="width: 100%; margin-top: 10px"> 저 장
                        </button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

    <script th:inline="javascript">

        let img = [[${img}]];
        let post = [[${post}]];
        let session = [[${session}]];

        let file = "./post/"+img;
        $(document).ready(function (){

            if(session.userId ==2){
                $("#delete").hide();
            }


            if(img===""){
                $("#img").hide();
            }else{
                $("#img").attr("src",file);
            }

            if(post.category=="service"){
                if(post.userNo.userNo==session.userId){

                }else if(session.userId==1) {

                }else{
                    alert("권한이 없습니다.");
                    location.href="/service";
                }
            }else{

            }

            $("#edit").click(function () {
                if(session.userId==1){
                    location.href = "/edit" + "?postNo=" + post.postNo;
                }else if(post.userNo.userNo==2){
                    let pw = prompt("비밀번호를 입력하세요");
                    if(pw==post.pw){
                        location.href = "/edit" + "?postNo=" + post.postNo;
                    }else{
                        alert("비밀번호가 다릅니다");
                    }

                }else if(session.userId==post.userNo.userNo){
                    location.href = "/edit" + "?postNo=" + post.postNo;
                }else{
                    alert("오류 발생");
                }

            })

            $("#delete").click(function (){
                if(session.userId==post.userNo.userNo){
                    location.href = "/remove" + "?postNo=" + post.postNo;
                }

            })

            $("#board").click(function (){
                if(post.category=="on"){
                    location.href = "/notice";
                }else if(post.category=="service"){
                    location.href = "/serviceBoard.html";
                }else{
                    location.href = "/board.html";
                }
            })
        })
    </script>

</body>
</html>