<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
    <link th:href="@{./css/register.css}" rel="stylesheet"/>
    <script th:src="@{../js/register.js}" type="text/javascript"></script>
</head>
<body>
<span>Register</span>
<hr>

<form action="register" method="post">
    <div class="big">
        <div class ="title">
            ID  <br><br>
            PW  <br><br>
            Name  <br><br>
            Email  <br><br>
            Gender  <br><br>
        </div>
        <div class="input">
               <label>
                <input type="text" name="userId"  id="userId" placeholder="6자리 이상 작성해주세요."/>
                <br>
            <button type="button" name="check" value="중복 확인" id="check">중복</button>
            </label>

            <label>
                <input type="password" name="userPw" id="userPw" placeholder="6자리 이상 작성해주세요."/><br>
            </label>

            <label>
                <input type="text" name="name" id="name" placeholder="닉네임3글자 이상 입력해주세요."/><br>
            </label>

            <label>
                <input type="email" name="email" id="email" placeholder="이메일 형식(@)으로 작성해주세요." /><br>
            </label>
            <div class="select">
                <input type="radio" id="select" name="gender" value="true"><label for="select">남자</label>
                <input type="radio" id="select2" name="gender" value="false"><label for="select2">여자</label>
            </div>
        </div>
        <button id="submit" type="button" class = "snip1535">Submit</button>
    </div>

</form>

</body>
</html>