<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>투표 결과 게시판</title>
    <meta name="viewport" content="initial-scale=1.0" user-scalable="no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{./css/surveyResultBoard.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/fd1e0c1830.js" crossorigin="anonymous"></script>
    <script th:src="@{../js/surveyResultBoard.js}" type="text/javascript"></script>
    <script th:src="@{../js/jquery.js}" type="text/javascript"></script>
</head>
<body>
<header th:insert="/header.html"></header>
<div class="table">
    <h3>투표현황</h3>
    <div class="text">투표현황입니다</div>
    <div class="searchForm">
        <form name="searchForm" id="searchForm" th:object="${searchDto}" action="#">
            <select value="searchFilter" th:field="*{searchFilter}">
                <option value="title">전체글</option>
            </select>
            <input type="text" id="value" name="searchValue" th:field="*{searchValue}"/>
            <button type="button" id="searchButton"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="new">
        <input type="hidden" name="func" value="new">
        <button type="button" id="writeButton" onclick = "location.href = '/surveyWrite'">글쓰기 <i class="fas fa-pencil-alt" style="font-size:18px"></i></button>
    </div>
    <ul class="main">
        <li class="column1">　</li>
        <li class="column2">제목</li>
        <li class="column3">마감일</li>
        <li class="column4">조회</li>
        <li class="column5">추천</li>
    </ul>
    <ul th:each="post : ${surveyList}" class="mainContent">
        <li th:text="${post.surveyNo}" class="column1"/>
        <li class="column2">
            <span><a th:href="@{/surveyResult(surveyNo=${post.surveyNo})}">
                <span th:text="${post.title}"></span></a>
            </span>
        </li>
        <li th:text="${post.endTime}" class="column3"/>
        <li th:text="${post.views}" class="column4"/>
        <li th:text="${post.hit}" class="column5"/>
        </td>
    </ul>
    <div class="paging" th:if="${surveyList!=null}">
        <ul class="pagination justify-content-center" id="pageUl"
            th:with="start=${T(Math).floor(surveyList.number/10)*10 + 1},
                    last=(${start + 9 < surveyList.totalPages ? start + 9 : surveyList.totalPages})">
            <li class="page-item">
                <a class="page-link" th:href="@{/surveyResultBoard(page=1)}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:class="${surveyList.first} ? 'disabled'">
                <a class="page-link" th:href="${surveyList.first} ? '#' :@{/surveyResultBoard(page=${surveyList.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start,last)}" th:class="${page == surveyList.number + 1} ? 'active'">
                <a class="page-link" th:text="${page}" th:href="@{/surveyResultBoard(page=${page})}"></a>
            </li>
            <li class="page-item" th:class="${surveyList.last} ? 'disabled'">
                <a class="page-link" th:href="${surveyList.last} ? '#' : @{/surveyResultBoard(page=${surveyList.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/surveyResultBoard?(page=${surveyList.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>



</body>
</html>